When you tap on the "Trackers" button, you'll discover these options:


<b><code>▶️ Start tracking</code>:</b> This button allows you to initiate tracking for a specific activity. When you start tracking, the bot records data about the activity's start time.

<b><code>🗑 Delete trackers</code>:</b> Use this button to delete trackers associated with your activities. It helps you manage and clean up your tracking history.

<b><code>⏹ Stop tracking</code>:</b> To stop tracking a currently active activity, select this button. The bot will record the stop time and calculate the duration of the activity.

<b><code>⏳ Get Duration</code>:</b> This button provides you with the duration of a tracked activity. Tap it to get insights into how much time you've spent on an activity.

These options give you the ability to effectively track your activities, manage your tracking history, and access valuable information about your tracked data.