When you tap on the "Actions" button, you'll find these options:

<b><code>📋 List of actions</code>:</b> This button allows you to view a list of existing actions within your category.

<b><code>🆕 Create action</code>:</b> Use this button to create a new action and associate it with a category.

<b><code>🆙 Change action</code>:</b> To update an existing action, select this button and follow the instructions to make changes.

<b><code>🗑 Delete action</code>:</b> This button enables you to delete an action that you no longer need.


These options provide you with the ability to efficiently manage your actions within your categories, allowing you to track your activities effectively.