
This bot is designed to help you manage and track the time you spend on your activities

<b><code>🗄 Categories</code>:</b> Categories are used to help organize and group your activities. Use the /help_cat command to learn how to manage categories.

<b><code>🎬 Actions</code>:</b> Explore the /help_act command to create and manage actions within your categories.

<b><code>⏱ Trackers</code>:</b> To track your time, go to the "Trackers" menu. Just send /help_tra to learn how to manage trackers.

<b><code>📊 Reports</code>:</b> Generate reports of your tracked activities. By using the /help_rep, you will learn about managing reports.
