When you tap on the "Reports" button, you'll find these options:


<b><code>🗓 Weekly report</code>:</b> This button allows you to generate a weekly report summarizing your tracked activities for the past week.

<b><code>🗓 Daily report</code>:</b> Use this button to generate a daily report with insights into your daily activity tracking data.

<b><code>🗓 Monthly report</code>:</b> To obtain a monthly overview of your tracked activities, select this button. It provides a summary of your monthly data.

<b><code>🗓 Yearly report</code>:</b> This button enables you to generate a yearly report, offering a comprehensive view of your tracked activities over the entire year.


These options empower you to create detailed reports based on your tracking data, allowing you to analyze and visualize your activity history effectively.