When you tap on the "Categories" button, you'll see the following options:

<b><code>🗂 List of categories</code>:</b> This button allows you to view a list of existing categories.

<b><code>🆕 Create category</code>:</b> Use this button to create a new category for organizing your activities.

<b><code>🆙 Change category</code>:</b> To update an existing category, select this button and follow the instructions to make changes.

<b><code>🗑 Delete category</code>:</b> This button enables you to delete a category that you no longer need.


These options provide you with the ability to efficiently manage your categories and tailor your experience with the bot.