При нажатии на кнопку "Действия" появляются следующие опции:

<b><code>📋 List of actions</code>:</b> Эта кнопка позволяет просмотреть список существующих действий в категории.

<b><code>🆕 Create action</code>:</b> С помощью этой кнопки можно создать новое действие для определенной категории.

<b><code>🆙 Change action</code>:</b> Чтобы обновить существующее действие, выберите эту кнопку и следуйте инструкциям по внесению изменений.

<b><code>🗑 Delete action</code>:</b> Эта кнопка позволяет удалить действие, которое больше не нужно.

Эти опции позволяют гибко управлять действиями в категориях, что дает возможность эффективно отслеживать свою деятельность.