Этот бот предназначен помочь в управлении и отслеживании затраченного времени на вашу деятельность и разные активности!

Ниже приведено пошаговое руководство по его использованию:


<b><code>🗄 Categories</code>:</b> Категории используются для упорядочивания и группировки ваших активностей. Используйте команду /help_cat, чтобы узнать, как управлять категориями.

<b><code>🎬 Actions</code>:</b> Используйте команду /help_act для создания и управления активностями в рамках категорий.

<b><code>⏱ Trackers</code>:</b> Поможет вам отслеживать время, ваших активностей. Отправьте команду /help_tra, чтобы узнать, как управлять трекерами.

<b><code>📊 Reports</code>:</b> Создавайте отчеты по отслеживаемым действиям. Отправив команду /help_rep, вы узнаете об управлении отчетами.
