При нажатии на кнопку "Trackers" вы обнаружите следующие опции:

<b><code>▶️ Start tracking</code>:</b> Эта кнопка позволяет начать отслеживание конкретного вида деятельности. При запуске отслеживания бот записывает данные о времени начала активности.

<b><code>🗑 Delete trackers</code>:</b> С помощью этой кнопки можно удалить трекеры, связанные с вашими действиями. Это помогает управлять историей отслеживания и очищать ее.

<b><code>⏹ Stop tracking</code>:</b> Чтобы прекратить отслеживание активного действия, выберите эту кнопку. Бот зафиксирует время остановки и вычислит продолжительность активности.

<b><code>⏳ Get Duration</code>:</b> Эта кнопка позволяет узнать продолжительность отслеживаемого действия. Нажмите ее, чтобы узнать, сколько времени вы потратили на выполнение того или иного действия.

Эти опции позволяют эффективно отслеживать действия, управлять историей отслеживания и получать доступ к ценной информации об отслеживаемых данных.










