При нажатии на кнопку "Reports" появляются следующие опции:


<b><code>🗓 Weekly report</code>:</b> Эта кнопка позволяет сформировать еженедельный отчет с кратким описанием отслеживаемых действий за прошедшую неделю.

<b><code>🗓 Daily report</code>:</b> С помощью этой кнопки можно создать ежедневный отчет, содержащий подробную информацию об отслеживаемых действиях за день.

<b><code>🗓 Monthly report</code>:</b> Чтобы получить обзор отслеживаемых действий за месяц, выберите эту кнопку. Она позволяет получить сводку данных за месяц.

<b><code>🗓 Yearly report</code>:</b> С помощью этой кнопки можно сформировать годовой отчет, в котором будет представлен полный обзор отслеживаемых действий за весь год.


Эти опции позволяют создавать подробные отчеты на основе данных отслеживания, что дает возможность эффективно анализировать и визуализировать историю активности.











