При нажатии на кнопку "Categories" появляются следующие опции:


<b><code>🗂 List of categories</code>:</b> Эта кнопка позволяет просмотреть список существующих категорий.

<b><code>🆕 Create category</code>:</b> С помощью этой кнопки можно создать новую категорию для организации своей деятельности.

<b><code>🆙 Change category</code>:</b> Чтобы обновить существующую категорию, выберите эту кнопку и следуйте инструкциям по внесению изменений.

<b><code>🗑 Delete category</code>:</b> Эта кнопка позволяет удалить ненужную категорию.


Эти опции позволяют гибко управлять категориями и настраивать работу с ботом.


